<data>
    <model_path />    
    <jira>
        <acctEmail></acctEmail>
        <jiraApiKey></jiraApiKey>
    </jira>
    <comment_extraction>
        <tcIssueId>RCD-192</tcIssueId>
        <sendToJira>False</sendToJira>
        <tcDiagramId>1062</tcDiagramId>
        <tcDiagramName>Monitor Craft Telemetry</tcDiagramName>
    </comment_extraction>
</data>