[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pywin32 = "*"
bs4 = "*"
jira = {extras = ["cli"], version = "*"}
pyqt5 = "*"
pyside2 = "*"

[dev-packages]
ipykernel = "*"
pyqt5-tools = "*"

[requires]
python_version = "3.9"
